.root_box {
  margin: 8px;
}

window {
  border-style: solid;
  border-width: 0.5px;
}

.filter_entry {
  border: none;
  background: none;
  min-height: 36px;
  min-width: 240px;
}

.notebook {
  border: none;
}

.keybindings {
  font-family: JetBrains Mono NL;
  font-size: 11;
}
